@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Titillium+Web:200,300,400,600,700,900');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #F8FAFC;
    color: #22292F;
}

a {
    text-decoration: none
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Titillium Web', sans-serif;
}

section {
    width: 100%;
    height: auto;
}

.title-section {
    padding-top: 84px;
    font-weight: bold;
}

.esperluette,
.esperluette-members {
    color: #FFDB00;
}

.esperluette-hero,
.esperluette-contact,
.dollars {
    color: #FFF;
}

.esperluette-bar {
    width: 200px;
    height: 4px;
    background-color: #22292F;
    margin: 0 auto;
}

.esperluette-circle {
    content: '&';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #22292F;
    color: #FFDB00;
    margin: 0 auto;
    margin-top: -17px;
}

.esperluette-incircle {
    line-height: 30px;
    font-weight: 200;
}

.esperluette-bar2 {
    width: 200px;
    height: 4px;
    background-color: #FFDB00;
    margin: 0 auto;
}

.esperluette-circle2 {
    content: '&';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FFDB00;
    color: #22292F;
    margin: 0 auto;
    margin-top: -17px;
}

.esperluette-incircle2 {
    line-height: 30px;
    font-weight: 200;
}

hr.about-divider {
    width: 100%;
    height: 1px;
    background-color: #090A15;
    opacity: 0.75;
    border: none;
}


/* ----- TOPBAR ----- */

#topBar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 45px;
    background-color: #FFDB00;
    color: #FFFFFF;
    font-family: 'Titillium Web', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 0 4px 2px rgba(0, 0, 0, 0.4);
    z-index: 2;
}


/* ----- NAVIGATION ----- */

#firstMenu {
    top: 50px !important;
    position: fixed;
    width: 100%;
    height: 50px;
    line-height: 35px;
    background-color: #090A15;
    color: #FFDB00;
    font-size: 1.25rem;
    font-weight: 100;
    text-transform: uppercase;
}

#navBar {
    top: 50px !important;
    position: fixed;
    width: 100%;
    height: 50px;
    line-height: 35px;
    background-color: #090A15;
    color: #FFDB00;
    font-size: 1.25rem;
    font-weight: 100;
    text-transform: uppercase;
}

.menu-link:hover {
    height: 50px;
    transition: 1s;
    color: #090A15;
    background-color: #FFDB00 !important;
    border: 2px solid #090A15;
    font-weight: 400;
    letter-spacing: 10px;
    transform: scale(1.1);
    z-index: 10;
}

.burger-menu {
    color: #FFDB00;
}

.burger-menu:hover {
    background-color: #FFDB00 !important;
    color: #090A15 !important;
    border-top: 2px solid #090A15;
}


/* ----- FOOTER ----- */

#footer {
    bottom: 0;
    background-color: #0F101A;
    color: white;
    border-top: 4px solid #FFDB00;
}

.footer-last-events:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.subfooter-section {
    background-color: #ffdb00;
    color: #0F101A;
    width: 100%;
    height: 55px;
}

.subfooter {
    font-size: 0.75em;
}

.twitter-block {
    width: 100%;
    height: 200px;
}

.become-members-btn-section {
    position: relative;
    padding-top: 50px;
}

.become-members-btn {
    width: 250px;
    height: 50px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #0F101A;
    color: #0F101A;
    border: 2px solid #FFDB00;
    padding: 8px 10px;
    text-align: center;
    display: inline-block;
    letter-spacing: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.7);
}

.become-members-btn:hover {
    color: #FFF;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.7);
}

.become-members-btn:before {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFDB00;
    z-index: -1;
    transition: 0.3s;
}

.become-members-btn:hover:before {
    top: -50%;
}

.become-members-btn:after {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FFDB00;
    z-index: -1;
    transition: 0.3s;
}

.become-members-btn:hover:after {
    bottom: -50%;
}

.mentions:hover {
    background-color: #0F101A;
    color: #FFDB00;
    transition: .7s;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.menu-link:hover {
    background-color: #FFDB00;
    color: #090A15;
    letter-spacing: 10px;
    text-transform: uppercase;
    transition: 0.7s;
}


/* ----- Job Pages ----- */

.job1-block {
    background-color:white;
    margin-bottom: 5px;
}

.job-logo {
    padding-top: 5px;
    padding-bottom: 5px;
}

.location {
    margin-top: 15px;
    padding-top: 8px;
    font-size: 2rem;
    background-color: #0F101A;
    color: #FFDB00;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.annonce-btn {
    background-color: #0F101A;
    color: #FFDB00;
    margin-bottom: 10px;
}