@media screen and (max-width:400px) {
    #hero {
        width: 100%;
        height: 100%;
    }
    .hero-container {
        margin-top: 310px !important;
    }
    .hero-textBlock1 {
        font-size: 8em;
    }
    .hero-textBlock2 {
        font-size: 1em;
        line-height: 3em;
    }
    .hero-textBlock3 {
        font-size: 1.5em !important;
    }
    .hero-textBlock4,
    .hero-textBlock5 {
        font-size: 2em;
    }
    .about-block {
        padding-bottom: 10px !important;
    }
    .parallax-text {
        font-size: 24px !important;
    }
    .event-vid {
        height: 207px !important;
    }
}